:root {
  --bgColor: white;
  --textColor: rgb(33, 33, 33);
  --primaryColor: rgb(45, 118, 234);
  --secondaryColor: rgb(234, 81, 45);
}

button:focus {
  outline: 0;
}

.App {
  text-align: center;
  background-color: var(--bgColor);
  min-height: 100vh;
  color: var(--textColor);
}

.container {
  padding: 2%;
}

.badgesContainer {
  position: absolute;
  z-index: 1000;
}
.badge {
  position: absolute;
  border-radius: 50%;
  background-color: var(--primaryColor);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 12px;
  cursor: default;
}

.badge.deleting:hover {
  background-color: var(--secondaryColor);
  cursor: pointer;
}

.input {
  width: 100%;
  background-color: var(--bgColor);
  /* padding: 16px; */
  color: var(--textColor);
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  resize: none;
}

.svgContainer {
  padding: 40px 0;
}

.svgContainer > svg {
  border: 1px solid rgb(0, 0, 0, 0.1);
  transition: 0.2s;
}

.svgContainer.active > svg {
  cursor: pointer;
}

.svgContainer > svg:hover {
  box-shadow: 0px 4px 10px 4px rgb(0, 0, 0, 0.1);
}

.App-link {
  color: #09d3ac;
}

.exampleContainer {
  position: relative;
  display: inline-block;
  width: 50%;
}

.example {
  font-size: 0.825rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 32px;
  background: rgb(21, 23, 24);
  color: rgb(255, 255, 255, 0.4);
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: none;
}

.overlayButton {
  background-color: white;
  min-height: 40px;
  padding: 0px 8px;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 4px 12px;
}

.description {
  font-size: 0.7rem;
}

kbd {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(21, 23, 24);
  color: white;
  border-radius: 4px;
  padding: 4px;
}
