:root {
  --bgColor: white;
  --textColor: rgb(33, 33, 33);
}

button:focus {
  outline: 0;
}

.App {
  text-align: center;
  background-color: var(--bgColor);
  min-height: 100vh;
  color: var(--textColor);
}

.container {
  padding: 2%;
}

.input {
  width: 100%;
  background-color: var(--bgColor);
  /* padding: 16px; */
  color: var(--textColor);
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  resize: none;
}
.badgesContainer {
  position: absolute;
}

.svgContainer {
  padding: 40px 0;
}

.svgContainer > svg {
  border: 1px solid rgb(0, 0, 0, 0.1);
  transition: 0.2s;
}

.svgContainer.active > svg {
  cursor: pointer;
}

.svgContainer > svg:hover {
  box-shadow: 0px 4px 10px 4px rgb(0, 0, 0, 0.1);
}

.App-link {
  color: #09d3ac;
}
